*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    font-size: 2vh;
    background-image: url(/worm.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    box-shadow: rgba(166, 46, 240, 0.4) 0px 5px, rgba(166, 46, 240, 0.3) 0px 10px, rgba(156, 46, 240, 0.2) 0px 15px, rgba(172, 46, 240, 0.1) 0px 20px, rgba(172, 46, 240, 0.05) 0px 25px;
}

.header-right
{
    text-decoration: none;
    width: 150px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background: -webkit-linear-gradient(140deg,#4529ab, #ffb339);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

a , a:visited , a:active
{
    text-decoration: none;
    color: #fcaf83;
    font-weight: 800;
}

.Container
{
    width:fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    background-image: url(https://assets-global.website-files.com/61890776ba7dcde3edb6b62b/62e185448da6d0f9d7555b60_assets-2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    max-width: 90%;
    min-height: 70vh;
}

.Container-up
{
    font-size: xx-large;
    padding: 1vh;
}

.Container-down
{
    font-size: medium;
    padding: 3vh;
}

#container
{
    display: flex;
    gap: 3vh;
    margin: 0 auto;
    padding: 5vh;
    height: 90vh;
}

@media screen and (max-width: 768px)
{
    #container
    {
        gap: 10vh;
        flex-direction: column;
    }

    #container
    {
        padding: 1vh;
        height: auto;
    }
}

#HEMLO
{

    background-image: url(https://assets-global.website-files.com/61890776ba7dcde3edb6b62b/64d780dcd8b2c979aab80b0b_custom-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;
}

#jokes
{
    display: none;
}

button
{
    border-radius: 8px;
    padding: 1.5vh;
    background-color:rgba(18, 82, 178, 0.247);
    border: 1px solid rgb(157, 157, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    transition: ease-in-out 0.5s;
    color: rgb(255, 255, 255);
}

button:hover
{
    background-color: rgba(8, 36, 78, 0.5);
    color: rgb(255, 230, 68);
    transition: ease-in-out 0.5s;
}